body{

  background-image: url("/images/Bookshelf2resized.jpg");
}


footer{
  background-color: #fff;
  margin: 0px;
  text-align: center;
}


.media-body {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

.media-heading {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

